#new_form .row {
    margin: 10px auto;
}

#start-tournament {
    margin-top: 1.43em;
    text-align: right;
}

.table_row_even {
    background-color: #f9f9f9 !important;
}

.table_row_odd {
    background-color: #ffffff !important;
}

.table_no {
    width: 10%;
    font-size: 3em;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
}

.pairing_alert {
    background-color: #FF9A99;
}

#pairings input.form-control {
    width: 50px;
    display: inline;
}

#pairings .operations {
    font-size: 0.9em;
    color: #9e9e9e;
}

#pairings .operations .btn {
    margin-left: 15px;
}