{% extends 'TournamentBundle:WS:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Secondary Objectives<br/>round {{ roundNo }}</h3>

    </div>
    <div class="row" id="timer_wrapper">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
            <table class="table table-striped">
                {% for pairing, scenario in scenarios %}
                    <tr>
                        <td>{{ pairing }}</td>
                        <td>{{ scenario }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}