{% extends 'TournamentBundle:Default:base.html.twig' %}

{% block body %}
    <div id="add-team-form">
        <div class="page-header">
            <h1>Add new team to tournament: {{ tournamentName }}</h1>
        </div>
        {{ include('TournamentBundle:Teams:new_team.html.twig', { 'form': newTeamForm }) }}
    </div>
    <hr />
    <div id="players-list">
        <div class="page-header">
            <h1>Teams</h1>
        </div>
        <div>

        </div>
    </div>
{% endblock %}