{% extends 'TournamentBundle:Default:base.html.twig' %}

{% block body %}
    {% set round = tournament.activeRound %}
<div class="page-header">
    <h2>Latest standings for tournament {{ tournament.name }}</h2>
    <h3>Current round: {{ round }} (teams with results entered for current round are marked in green)</h3>
</div>
    {% include 'TournamentBundle:Standings:standings.html.twig' %}
{% endblock %}
